
:root {

    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-medium-grey: hsl(216, 12%, 54%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-darkest-blue: hsl(216, 12%, 8%);
    --color-very-dark-blue: hsl(216, 13%, 15%);
    --color-orange: hsl(25, 97%, 53%);

    --fw-light: 400;
    --fw-bold: 700;

    --font-size-p: 15px;
    --font-family: 'Overpass', sans-serif;
}

.rounded-border {
    border-radius: 30px;
    background-color: hsl(214, 19%, 26%);
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: var(--color-darkest-blue);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

article {
    background: linear-gradient(var(--color-dark-blue), var(--color-very-dark-blue));
    width: clamp(340px, 90%, 370px);
    height: 360px;
    border-radius: 15px;
    padding: 20px;
}

h1 {
    color: var(--color-white);
    font-weight: var(--fw-bold);
}

p {
    color: var(--color-medium-grey);
    font-size: var(--font-size-p);
    font-weight: var(--fw-light);
    margin: 0;
    display: inline;
}

.circle-container {
    background-color: hsl(214, 19%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    position: relative;
    border: none;
    color: var(--color-light-grey);
}

.rating-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-block: 15px;
}

.orange-btn {
    background-color: var(--color-orange);
    width: 100%;
    height: 45px;
    border: none;
    color: var(--color-white);
    margin-top: 15px;
}

.rating-submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    text-align: center;
}

.rating-recap-wrapper {
    padding: 5px;
}

.rating-recap-wrapper p {
    display: inline-block;
    color: var(--color-orange);
}

.thank-you-icon {
    margin-bottom: 15px;
}

.active {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.hide {
    display: none;
}